

BASE_URL=http://localhost:4000

REGULAR_USER_EMAIL=your_test_username
REGULAR_USER_PASSWORD=your_test_password

SILVER_USER_EMAIL=your_test_username
SILVER_USER_PASSWORD=your_test_password

GOLD_USER_EMAIL=your_test_username
GOLD_USER_PASSWORD=your_test_password

LOCKED_USER_EMAIL=your_test_username
LOCKED_USER_PASSWORD=your_test_password